{:kotoba.app/id "cloud.itonami.isic-6511", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifpksimwt3lyzsgmkjwnjnsk2z42tnnbetpfnrwae7jqzosippmci", :kotoba.app/embed-url "ipfs://bafkreifpksimwt3lyzsgmkjwnjnsk2z42tnnbetpfnrwae7jqzosippmci", :published {:archive "https://kotobase.net/ipfs/bafkreifpksimwt3lyzsgmkjwnjnsk2z42tnnbetpfnrwae7jqzosippmci", :size 73386, :put-status 201, :get-status 200, :at "2026-08-15T13:35:33.657Z"}}
